const String APP_URL =  'https://www.examp.le/api';
const String TEST_URL = 'https://test.examp.le/api';
int currentVersion=YOUR_CURRENT_VERSION;
bool useTest = false;
String? apiToken;
String? currentUsername;
int? currentUserId;
String? currentUserCurrency;
bool? usesPassword;
String? currentGroupName;
int? currentGroupId;
String? currentGroupCurrency;
List<String>? usersGroups;
List<int>? usersGroupIds;
bool showAds = false;
bool useGradients = true;
bool personalisedAds = false;
bool trialVersion = false;
bool trialJustEnded = false;
bool? ratedApp = false;
String currentThemeName = "dodoLightTheme";

/// Whether in app purchase enabled on the platform. Set programmatically.
bool isIAPPlatformEnabled = false;

/// Whether ads are enabled on the platform. Set programmatically.
bool isAdPlatformEnabled = false;

/// Whether Firebase are enabled on the platform. Set programmatically.
bool isFirebasePlatformEnabled = false;

double tabletViewWidth = 850;
double adHeight() => (isAdPlatformEnabled && showAds) ? 50 : 0;
