const String APP_URL =  'https://www.examp.le/api';
const String TEST_URL = 'https://test.examp.le/api';
int currentVersion=YOUR_CURRENT_VERSION;
bool useTest = false;

Map<String, String> adUnitIds = {
  'create_group':'example',
  'history':'example',
  'home_screen':'example',
  'join_group':'example',
  'payment':'example',
  'purchase':'example',
  'report_bug':'example',
  'settings':'example'
};

double tabletViewWidth = 850;